---
layout: default
title: Home
---
<p class="message">
    Hey there! Thanks for coming to this obscure corner of the internet to visit my site. This site is work in progress. So be patient, I'll update here soon.
</p>

<h3 style="text-align:center">Hello there ....</h3>
<p>I am Ahmed Shariff, in case you didn't know ;). A tech enthusiast, a believer in the power of technology. My primary interest is in artificial intelligence. Everything about it interests me, from it's illusive definition, the philosophy behind it, the impact it has and will have on the human race to how it is done and the technicalities of building an intelligence. My current focus is around machine learning, particularly deep learning and ...... pretty much everything about it.</p>
<p>Currently, I am a PhD candidate at the University of Manitoba, under the supervision of <a href="http://www.hci.cs.umanitoba.ca/people/bio/pourang-irani">Dr Pourang Irani </a> at the <a href="http://hci.cs.umanitoba.ca">Human Computer Interaction Lab</a>
</p>
<p>Previously, I was working at the University of Peradeniya on a industry collaboration project with CodeGen International. The project was started to study and develop AI systems. The focus of my work there was on using deep learning and computer vision technologies to automate various aspects of a restaurant.</p>

    <h4> My digital presence:</h4>
    <ul>
	<li> <a href="https://github.com/ahmed-shariff">Github </a></li>
	<li> <a href="https://www.facebook.com/amsha1">Facebook </a></li>
	<li> <a href="https://twitter.com/_ahmedshariff_">Twitter </a></li>
	<li> <a href="https://www.linkedin.com/in/ahmed-shariff-b2b25496/">Linkedin </a></li>
    </ul>


    <div class="posts">
	{% for post in paginator.posts %}
	<article class="post">
	    <h2 class="post-title">
		<a href="{{ site.baseurl }}{{ post.url }}">
		    {{ post.title }}
		</a>
	    </h2>

	    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

	    {{ post.excerpt }}
	    <a href ="{{ site.baseurl }}{{ post.url }}"> Keep Reading .. </a>
	</article>
	{% endfor %}
    </div>
    <div class="pagination">
	{% if paginator.next_page %}
	<a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
	{% else %}
	<span class="pagination-item older">Older</span>
	{% endif %}
	{% if paginator.previous_page %}
	<a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
	{% else %}
	<span class="pagination-item newer">Newer</span>
    {% endif %}
</div>
